
<iframe src="https://giphy.com/embed/aZmD30dCFaPXG" width="480" height="360" frameBorder="0" class="giphy-embed"  id=”centerdImage” allowFullScreen></iframe><p><a href="https://giphy.com/gifs/bay-argument-aZmD30dCFaPXG"></a></p>
<p class="text-center"> "ROCK!" </p>