<h3>Musician: <%= @musician.name %></h3>

<h3> You have <%= @gigs.size %> gigs coming up and <%= @songs.size %> songs to practice. </h3>

<iframe src="https://giphy.com/embed/aZmD30dCFaPXG" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/bay-argument-aZmD30dCFaPXG">via GIPHY</a></p>
